.article-holder .font-size-12 {
    font-size: 12px
}

.article-holder .font-size-16 {
    font-size: 16px
}

.article-holder .font-size-20 {
    font-size: 20px
}

.article-holder .font-size-23 {
    font-size: 23px
}

.article-holder .color-blue-01 {
    color: #56c1fe
}

.article-holder .color-lblue-01 {
    color: #73fdea
}

.article-holder .color-green-01 {
    color: #89fa4e
}

.article-holder .color-yellow-01 {
    color: #fff359
}

.article-holder .color-pink-01 {
    color: #ff968d
}

.article-holder .color-purple-01 {
    color: #ff8cc6
}

.article-holder .color-blue-02 {
    color: #02a2ff
}

.article-holder .color-lblue-02 {
    color: #18e7cf
}

.article-holder .color-green-02 {
    color: #60d837
}

.article-holder .color-yellow-02 {
    color: #fbe231
}

.article-holder .color-pink-02 {
    color: #ff654e
}

.article-holder .color-purple-02 {
    color: #ef5fa8
}

.article-holder .color-blue-03 {
    color: #0176ba
}

.article-holder .color-lblue-03 {
    color: #068f86
}

.article-holder .color-green-03 {
    color: #1db100
}

.article-holder .color-yellow-03 {
    color: #f8ba00
}

.article-holder .color-pink-03 {
    color: #ee230d
}

.article-holder .color-purple-03 {
    color: #cb297a
}

.article-holder .color-blue-04 {
    color: #004e80
}

.article-holder .color-lblue-04 {
    color: #017c76
}

.article-holder .color-green-04 {
    color: #017001
}

.article-holder .color-yellow-04 {
    color: #ff9201
}

.article-holder .color-pink-04 {
    color: #b41700
}

.article-holder .color-purple-04 {
    color: #99195e
}

.article-holder .color-gray-01 {
    color: #d6d5d5
}

.article-holder .color-gray-02 {
    color: #929292
}

.article-holder .color-gray-03 {
    color: #5f5f5f
}

.article-holder .color-default {
    color: #222
}