*.py text eol=crlf
*.json text eol=crlf
MPlayer/mplayer/bin/ffmpeg/linux/arm64/ffmpeg filter=lfs diff=lfs merge=lfs -text
MPlayer/mplayer/bin/ffmpeg/linux/x64/ffmpeg filter=lfs diff=lfs merge=lfs -text
MPlayer/mplayer/bin/ffmpeg/windows/all/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
MPlayer/mplayer/bin/ffmpeg/macos/all/ffmpeg filter=lfs diff=lfs merge=lfs -text
