/dist
/.idea
/test*.*
**/__pycache__
/bilibili_api_python.egg-info
/.vscode
**/dist
*.ass
*.srt
node_modules/
*.proto
*.bin
site.bat
.DS_Store
.VSCodeCounter/
bilibili-api-ts/*.js
bilibili-api-ts/*/*.js
bilibili-api-ts/*.js
bilibili-api-ts/*/*.d.ts
bilibili-api-ts/*.d.ts
