# Python binariees
__pycache__/
# MacOS
.DS_Store
# Build
build/
dist/
*.egg-info/
# Danmakus
*.ass
*.srt
*.lrc
*.json
# Interactive Videos
*.ivi
# Videos
*.mp4
# Test files / Scratch files
test*.*
scratch/
# Tests
!tests/*.py
# Virtual environments
venv/
.venv/
virtualenv/
# IDE
.idea/
.vscode
# Doc Generater
.doc_cache/
.mypy_cache/
# sh
env.sh