urllib3~=1.26.12
aiohttp~=3.8.3
beautifulsoup4~=4.11.1
colorama~=0.4.6
lxml~=4.9.0
pyyaml~=6.0
brotli~=1.0.9
httpx~=0.23.0
qrcode~=7.3.1
requests~=2.28.1
keyboard~=0.13.5
APScheduler~=3.9.1
rsa~=4.9
pillow~=9.2.0
# ffmpeg-python~=0.2.0 
