beautifulsoup4~=4.13.3
colorama~=0.4.6
lxml~=5.3.1
pyyaml~=6.0
brotli~=1.1.0
qrcode~=8.0
APScheduler~=3.11.0
pillow~=11.1.0
yarl~=1.18.3
pycryptodomex~=3.21.0
qrcode_terminal~=0.8
PyJWT~=2.10.1