aiohttp~=3.9.0
beautifulsoup4~=4.12.2
colorama~=0.4.6
lxml~=4.9.3
pyyaml~=6.0
brotli~=1.1.0
httpx~=0.25.2
qrcode~=7.4.2
requests~=2.31.0
APScheduler~=3.10.4
rsa~=4.9
pillow~=10.1.0
tqdm~=4.66.1
yarl~=1.9.3
pycryptodomex~=3.19.0
qrcode_terminal~=0.8